*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: norse-bold;
    src: url(design/Norse-Bold.otf);
}

body {
    display: flex;
}


.logo-sect {
    background-image: url(design/backgroud\ image.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 100vh;
}
.logo-sect div  {
    background: rgba(0, 0, 0, 0.25);;
    height: 37.5vh;
    display: flex;
    justify-content: center;
    margin-top: 32.5vh;
    margin-bottom: 30vh;
}

.logo-sect > div > img {
    margin: 50px 10px 50px 0px;
}

.logo-sect > div > h1 {
    color: white;
    font-family: norse-bold, 'Roboto', sans-serif;
    font-size: 12rem;
    margin: 50px 0px 50px 10px
}


.form-sect {
    background-color: #f2f4f4;
    width: 60vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: #f2f4f4;
    height: 32.5vh;
    font-size: 2rem;
    padding: 50px;

}

.header > div,
.header > p {
    margin-top: 25px;
}

.formulario {
    background-color: #fdfefe;
    height: 37.5vh;
    padding: 20px 50px 20px 50px;
    font-size: 1rem;
}
#form {
    display: flex;
    flex-wrap: wrap;
}

#form > div {
    margin: 25px 115px 0px 0px;

    display: flex;
    flex-direction: column;
}

#form > div label {
    width: 200px;
}

#form > div input {
    width: 250px;
    height: 30px;

    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.25rem;
}

#form > div input:focus {
    outline: none;
    border: 2px solid #2e86c1;
}

.error {
    outline: none !important;
    border: 2px solid red !important;
}

.footer {
    background-color: #f2f4f4;
    height: 30vh;
    padding: 30px 50px 20px 50px;
    font-size: 1.5rem
}

#submit-button {
    width: 220px;
    height: 50px;
    background-color: hsl(120, 54%, 49%);
    color: black;
    margin-bottom: 30px;
    font-size: 1.25rem;
    border-radius: 10px;
}
.footer > p a {
    color: hsl(120, 54%, 49%);
}